__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
knowledge-base/raw*
*.jpeg
*.jpg
*.png
*.pdf
*.docx
*.pptx
knowledge-base/.obsidian/
random_stuff.ipynb
